/* Practice CustomFonts Style Sheet */

.websafe {
    font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.google {
    font-family: 'Dosis', Georgia, serif;
}
