/*Yousif Al Yonani
March 18, 2025*/

section {
    display: flex;
    justify-content: space-evenly;

}

.box {
border: 2px solid black;
margin: 3px;
background: rgb(37, 37, 195);
color: white;
text-align: center;
font-weight: bold;
width: 20%;
border-radius: 10px;
}