/*Yousif Al Yonani
March 18, 2025*/
.box {
    border: 2px solid black;
   float: left;
    margin: 3px;
    background: red;
    
}

section {
    width: 90%;
    margin: 0 auto;
}

.box {
border: 2px solid black;
float: left;
margin: 3px;
background: red;
width: 20%;
}
footer {
    clear: left;
}
