/*Yousif Al Yonani*/
/*May 6, 2025*/
/*Form Section*/
div {
    margin: auto;
    color: white;
}
label {
    margin-right: 15px;
    width: 150px;
    display: inline-block;
    color: white;
}
form {
    margin-left: auto;
    margin-right: auto;
}

/* Background Color Scheme */
body {
    background: linear-gradient(to bottom right,rgba(0, 0, 0, 1) 0%, rgba(61, 72, 79, 1) 91%);
    background-attachment: fixed;
}
/* Nav */
nav {
    background-color: #292C30;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
/* Button Nav */
.button {
  padding: 10px 15px;
  margin: 5px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.button::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.2s ease, left 0.2s ease;
}
.button:hover::after {
    width: 100%;
    left: 0;
}
.button.active {
    color: black;
    font-weight: bold;
}
.button.active::after {
    width: 100%;
    left: 0;
}
/* Text Color */
p {
    color: white;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
h4 {
    color: white;
}
body {
    text-align: center;
}
legend {
    color: white;
    display: flex;
    justify-content: center;
}
/* Fonts */
body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
nav {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}