/*Yousif Al Yonani
April 15, 2025*/
/**************** Mobile ****************/
img {
	display: none;
}
h2 {
	display: none;
}
/**************** Tablet ****************/
@media screen and (min-width: 641px) {
	img {
		display: block;
		max-width: 100%;
	}
	h2 {
		display: block;
	}
	nav ul li {
		display: inline;
	}
}
/****************  CSS   ****************/
body { 
	background-color: #FFFFFF;
    color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}
header { 
	background-color: #000033;
    color: #FFFFFF; 
	background-image: url(../images/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat; 
	line-height: 400%;
	text-indent: 1em;
}
nav ul { 
	background-color: #90C7E3;
    font-weight: bold;
	list-style: none;
	list-style-image: url(../images/marker.gif);
	margin: 0;
	padding: 0;
}
h1 { 
	margin-bottom: 0; 
    font-family: Georgia, 'Times New Roman', serif; 
}
h2 { 
	color: #3399CC; 
    font-family: Georgia, 'Times New Roman', serif; 
} 
h3 { 
	color: #000033;
    font-family: Georgia, 'Times New Roman', serif; 
}
ul { 
	list-style-image: url(../images/marker.gif);
} 
footer { 
	font-size: 75%;
    font-weight: bold;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	background: linear-gradient(to top, rgba(144,199,227,1), rgba(255,255,255,1));
}  
dt { 
	color: #000033; 
}
#resort { 
	color: #5C7FA3; 
    font-weight: bold;
}
span { 
	font-size: 90%; 
}
