/* Page Style */
header {
    background-color: #A8D6EB;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#value {
    background-color: #AEF0CC;
}
#example {
    background-color: #E3ADB9;
}
/* Text Decoration*/
.none {
    text-decoration: line-through;
}
.underline {
    text-decoration: underline;
}
.overline {
    text-decoration: overline;
}
.line-through {
    text-decoration: line-through;
}