/*Yousif Al Yonani
March 4, 2025*/


#outerwrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
} 

.floatleft { 
float: left;
margin-right: 3%;

}

.floatright {
float: right;
margin-left: 3%;

}

main, footer { 
	clear: both;
}
main {
	background-color: #C5A98B;
	padding: 10px;
}
body {
	background-color: #B8D1EB;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
}
nav ul {
	list-style-type: none;
}
/*Fonts*/
h1 {
	font-family: cursive;
	font-size: 40px;
}
h2 {
	font-family: cursive;
	font-size: 20px;
	font-style: italic;
}
main ul {
	list-style-image: url(../images/tomato.png);
}
/*Footer*/
footer {
	background-color: #d19045;
	text-align: center;
	font-size: .75em;
	padding: 10px 10px;
}
